body {background-color: #fff2d8;}
body {margin: 0;}
p {font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;}

    /* header styles */

header {background-color: #e0f9f0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;}

header img {width: 200px; height: 200px}

header h1 {color: #005b5d;
    font-weight: bolder;
    font-size: 64px;}

h1 {line-height: 72px;}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

h2 {font-size: 36px;
    text-align: center;
    margin: 80px 0px;}

    /* main styles*/

p {font-size: 22px;}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px 50px 20px;
  }

main img {
    max-width: 100%;
}

a {color: #005b5d;}
a:hover {color: aqua;}

footer {background-color:#e0f9f0;
    text-align: center;
    padding: 50px;}

footer p {margin: 0;}